---
import Layout from '../../layouts/Layout.astro'
import Banner from '../../components/Banner.astro'
import { blogs } from '../../../data/blog'

export async function getStaticPaths() {
  return blogs.map(blog => ({
    params: { slug: blog.slug }
  }))
}

const { slug } = Astro.params
const blog = blogs.find(b => b.slug === slug)

if (!blog) {
  throw new Error('Blog bulunamadı')
}

const breadcrumbs = [
  { label: "Anasayfa", href: "/" },
  { label: "Bloglar", href: "/blog" },
  { label: blog.title, href: `/blog/${blog.slug}` },
]
---

<Layout>
  <div class="mt-20">
    <Banner
      title={blog.title}
      image="/images/page-banner.jpg"
      breadcrumbs={breadcrumbs}
    />
  </div>


</Layout>
