---
import Layout from "../../layouts/Layout.astro"
import Banner from "../../components/Banner.astro"
import CallAction from "../../components/CallAction.astro"
import BlogSection from "../../components/BlogSection.astro"

const breadcrumbs = [
    { label: "Anasayfa", href: "/"},
    { label: "Blog", href: "/blog"},
]
---
<Layout
  title="Bursa Oto Çekici Blog - Güncel Yol Yardım ve Kurtarma Bilgileri"
  description="Bursa’da oto çekici, yol yardım ve araç kurtarma hizmetleri hakkında güncel haberler, ipuçları ve profesyonel tavsiyeler. Güvenilir çekici hizmetleri blogumuzda."
  jsonLdType="breadcrumb"
  jsonLdData={{ breadcrumbs: breadcrumbs }}
>
    <div class="mt-20">
        <Banner 
        title="Tüm Bloglar"
        description="Bursa çekici ve yol yardım hizmetleri hakkında güncel ve faydalı bilgiler."
        image="/images/page-banner.webp"
        breadcrumbs={breadcrumbs}/>
        
        <BlogSection showAllButton={false} />
        <CallAction />
    </div>
</Layout>
