---
import Layout from "../layouts/Layout.astro"
import AboutSection from "../components/AboutSection.astro"
import FaqSection from "../components/FaqSection.astro"
import Banner from "../components/Banner.astro"
import CallAction from "../components/CallAction.astro"

const breadcrumbs = [
  { label: 'Anasayfa', href: '/' },
  { label: 'Hakkımızda', href: '/hakkimizda' }
];
---
<Layout
    title="Hakkımızda"
    description="Ateş Oto Kurtarma olarak vizyonumuz, misyonumuz ve Bursa'daki oto kurtarma sektöründeki deneyimimiz hakkında daha fazla bilgi edinin."
    jsonLdType="breadcrumb"
    jsonLdData={{ breadcrumbs: breadcrumbs }}
>
    <div class="mt-20">
        <Banner
            title="Hakkımızda"
            description="Vizyonumuz, misyonumuz ve değerlerimiz"
            image="/images/page-banner.webp"
            breadcrumbs={breadcrumbs}
            />
        <AboutSection />
        <FaqSection />
        <CallAction />
    </div>
</Layout>