---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import Services from "../../components/Services.astro";
import ServiceAreas from "../../components/ServiceAreas.astro";

const breadcrumbs = [
    { label: "Anasayfa", href: "/"},
    { label: "Hizmetler", href: "/hizmetler"},
]
---
<Layout
    title="Hizmetlerimiz"
    description="Bursa ve çevresinde sunduğumuz profesyonel oto kurtarma, çekici ve yol yardım hizmetlerimizi detaylı olarak inceleyin."
    jsonLdType="breadcrumb"
    jsonLdData={{ breadcrumbs: breadcrumbs }}
>
    <div class="mt-20">
        <Banner
        title="Hizmetler"
        description="Size özel profesyonel oto kurtarma çözümleri"
        image="/images/page-banner.jpg"
        breadcrumbs={breadcrumbs} />

        <Services />
        <ServiceAreas />
    </div>
</Layout>