---
import Head from "./Head.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";

const {
  title = "Bursa Yakın Çekici | Ateş Oto Kurtarma",
  description = "Bursa'da 7/24 oto kurtarma ve çekici hizmeti sunan Ateş Oto Kurtarma ile en yakın çekiciye hızlıca ulaşın.",
  image,
  frontmatter,
  robots,
} = Astro.props;

---

<html lang="tr">
  <Head/>
  <body class="bg-white text-gray-900">
    <Header />
    <slot />
    <Footer />
  <WhatsAppButton />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
